<p style="color: green"><%= notice %></p>

<h1 class="is-size-3 has-text-weight-bold">Image posts</h1>

<div id="image_posts" class="mt-4">
  <% @image_posts.each do |image_post| %>
    <%= render image_post %>
    <p>
      <%= link_to "Show this image post", image_post, class: "button" %>
    </p>
  <% end %>
</div>

<%= link_to "New image post", new_image_post_path, class: "button is-primary" %>
